/AOPAspect/nbproject/private/
/AOPAspect/build/
/SpringJDBC/nbproject/private/
/SpringJDBC/build/
/JDBCSpring/nbproject/private/
/SpringJDBCTest/nbproject/private/
/SpringJDBCTest/build/
/SpringHibernate/nbproject/private/
/TestSpringHibernate/nbproject/private/
/TestSpringHibernate/build/
/TestHibernate/nbproject/private/